body {
    background-color: darkgray;
}

.header {
    transform: rotate(-10deg);
    text-align: center;
    margin: 50px 0px 0px 0px;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 5px 5px gold;
    font-size: 68px;
    color: blue;
}

h1:hover {
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 5px 5px blue;
    font-size: 68px;
    color: gold;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 4px 5px gold;
    font-size: 42px;
    color: blue;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-container {
    border: 7px solid blue;
    background-color: gold;
    padding: 2em;
    margin: 1em;
}

.carousel-images img {
    display: none;
}

.carousel-images img:first-of-type {
    display: block;
}
.carousel-button {
    align-self: center;
    background: blue;
    color: gold;
    font-family: 'Luckiest Guy', cursive;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px #fa8d8e;
}
.carousel-button:hover {
    cursor: pointer;
    background: gold;
    color: blue;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 p {
     text-align: center;
     color: white;
 }

.linkbar {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: rgb(36, 35, 35);
}

a {
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px blue;
    color: gold;
    text-decoration: none;
    padding: 50px 50px 50px 50px;
}

a:hover {
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px gold;
    color: blue;
    text-decoration: none;
}

.divbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 300px 0px 300px;
}

.generate {
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
    background: blue;
    color: gold;
    padding: 0.5em;
    border: 2px solid gold;
}

.generate:hover {
    transform: rotate(-10deg);
}

h3 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
}
*/


/* Code Gravyard -RIP     */
/* }
.carousel-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
.carousel-images {
    background: #gold;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.carousel-images img {
    width: 100%;
    border-radius: 10px;
}
.carousel-button {
    align-self: center;
    background: gold;
    color: blue;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px #fa8d8e;
}
.carousel-button:hover {
    cursor: pointer;
    background: gold;
    box-shadow: 1px 1px #f2cd99;
    color: blue;
}
  .container > img {
    width: 50%;
  }
  .container > h2 {
    font-family: 'Montserrat', impact;
    font-weight: 200;
    font-size: 2.5em;
    margin-top: -1%;
    color: blue;
    text-shadow: 1px 1px #f2cd99;
    letter-spacing: 2px;
  }  */